For loop:

Create a list of all numbers between 1 and 100 that are divisible by both 3 and 5.

In [2]:
a=[]
for i in range(1,101):
    if i%3==0 or i%5==0:
        a.append(i)
print(a)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100]

Write a loop that replaces all spaces in a string with underscores.

In [1]:
a="Apple is healthy."
b=""
for i in a:
    if i==" ":
        b+="_"
    else:
        b +=i
print(b)

Apple_is_healthy.

Check which elements are common in two lists

In [2]:
a=[12,23,45,67,90,10]
b=[12,34,45,76,90,100]
c=[]
for i in a :
    if i in b:
        c.append(i)
print(c)

[12, 45, 90]

While loop:

Keep removing elements from a list one by one and print the list each time, until it becomes empty

In [3]:
a=[12,34,56,89,60,47]
while a:
    a.pop()
    print(a)

[12, 34, 56, 89, 60]
[12, 34, 56, 89]
[12, 34, 56]
[12, 34]
[12]
[]

Start from a number and keep dividing it by 2 until it becomes less than 1. Print each value.

In [ ]:
a=88
while a>=1:
    a=a/2
    print(a)

44.0
22.0
11.0
5.5
2.75
1.375
0.6875

Ask the user to enter numbers until the total sum crosses 100.

In [12]:
print("the numbers you entered:")
a=0
while a<101:
    b=int(input("enter a number:"))
    a=a+b
    print(b)
print("sum",a)

the numbers you entered:
2
3
14
11111117
sum 11111136